/* 
selector can be an HTML element, it can be a custom style - start with . or it can be an id - start with #

selector{
    property1: value
    Property2: value;
}
*/

/* Body applies to the whole page */
body{
    background-color: rgb(97, 4, 4);
    color:rgb(86, 124, 248);
    width: 100%;
}

header{
    text-align: center;
}

/* by default - create a box for the menu */
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

/* add some footer style */
footer{
    text-align: center;
    margin-right: 200px;
}

#MemeImage{
    margin-right: 300px;
    width: 500px;
}

p{
    width: 100%;
    text-align: center;
}

/* custom css style */
.leftalign{
    text-align: left;
}

